#linkedin__testimonial{
    .main__container{
        width: 100%;
        height: 100dvh;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

    }
    .grid-wrapper {
        width: 100%;
        height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .normal{
    grid-column: span 1;
    grid-row: span 1;
  }

  .wide {
    grid-column: span 2;
    grid-row: span 3;
  }

  .tall {
    grid-column: span 2;
     grid-row: span 1;
  }

  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

}

@media (max-width: 768px) {
    .grid-wrapper {
      /* grid-template-columns: 1fr; */
      grid-auto-rows: 180px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


      .wide,
      .tall,
      .big {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
      }

      .tall , .wide{
        display: none !important;
      }
    }
  }

  @media (max-width: 480px) {
    .grid-wrapper {
      grid-auto-rows: 150px;
      grid-gap: 8px;

      > div img {
        border-radius: 3px;
      }
    }
  }
